/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Estilos para el encabezado */
header {
  text-align: center;
  background-color: #f2f2f2;
  padding: 1em;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

/* Estilos para el contenido */
article {
  padding: 1em;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  background-color: #f2f2f2;
  padding: 1em;
  color: #666;
}
